.App {
  font-family: sans-serif;
  text-align: center;
}
#btn {
  margin: 1rem;
  background-color: cornflowerblue;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
#pass {
  font-weight: bold;
  padding: 0.5rem 1rem;
}
